<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   
    <meta charset="UTF-8">
    <title>EMPLOYEE LOGIN</title>
     <link th:href="@{/src/WEB-INF/Employeereg.css}" rel="stylesheet"/>
</head>
<body>
    <form id="emplform" th:action="@{/employee}" method="post">
        <h1 align="center">Employee Registry</h1><br>
        Name: <input type="text" id="Name" th:field="*{Name}" placeholder="Enter your Name" required="required"><br>
        ID: <input type="text" id="ID" th:field="*{id}" placeholder="Enter your EID" required="required"><br>
        Phone Number: <input type="text" id="phono" th:field="*{phone}" placeholder="Enter your Phone Number" required="required"><br>
        Age: <input type="text" id="Age" th:field="*{age}" placeholder="Enter your Age" required="required"><br>
        <input align="middle" type="submit" value="Submit"><br>
        Already have an account? <a href="Second.html">Login</a>
    </form>
</body>
</html>
